<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auto loco</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="container">
          <a href="{% url 'cars:list' %}">List</a>
          <a href="{% url 'cars:add' %}">Add</a>
          <a href="{% url 'cars:delete' %}">Delete</a>
        </div>
      </nav>
    </header>
  </body>
</html>
