{% extends 'base.html' %} {% block body %}
<div class="container">
  <form action="" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="brand">Marca:</label>
      <input class="form-control" id="brand" name="brand" type="text" />
    </div>
    <div class="form-group">
      <label for="year">Modelo:</label>
      <input class="form-control" id="year" name="year" type="text" />
    </div>
    <input class="btn btn-outline-success" type="submit" />
  </form>
</div>
{% endblock %}
